* {
   box-sizing: border-box;
}

body {
    margin: 0;
    overflow: hidden;
}

.nav {
    display: table;
    /* object-fit: contain; */
    text-align: center;
    /* border: 2px solid black; */
    width: 45%;
}

.nav_prop {
  display: flex;
  margin: auto;
  text-align: center;
  border-bottom: 2px solid transparent;
  font-family: 'Maven Pro';
  font-size: 1em;
  /* padding: 3%; */
  padding-top: 2%;
  padding-bottom: 2%;
  vertical-align: middle;
  justify-content: center;
}

.nav_prop:hover {
  border-bottom: 2px solid #ed5565;
}

#home_nav {
  display: table-cell;
  border-bottom: 2px solid #ed5565;
}

#acad_nav {
    display: table-cell;
}

#add_nav {
    display: table-cell;
}

#exam_nav {
    display: table-cell;
}
